$red-50: #ffe5e5;
$red-100: #ffc3c4;
$red-200: #ffabad;
$red-300: #ff7975;
$red-400: #ff4e4a;
$red-500: #ee0005;
$red-600: #d30005;
$red-700: #a70e00;
$red-800: #780700;
$red-900: #530300;

$orange-50: #ffe2d6;
$orange-100: #ffc5ad;
$orange-200: #ffa584;
$orange-300: #ff8255;
$orange-400: #ff5000;
$orange-500: #d33918;
$orange-600: #9f290f;
$orange-700: #7e200d;
$orange-800: #5d180c;
$orange-900: #3e1009;

$yellow-50: #fef087;
$yellow-100: #feea55;
$yellow-200: #fedf35;
$yellow-300: #ffd11b;
$yellow-400: #fdc400;
$yellow-500: #fca600;
$yellow-600: #f08e0a;
$yellow-700: #e57a09;
$yellow-800: #cd6006;
$yellow-900: #99470a;

$green-50: #dfffb9;
$green-100: #bdfb72;
$green-200: #83f13b;
$green-300: #5fe63f;
$green-400: #3ccd49;
$green-500: #1eaa52;
$green-600: #007d48;
$green-700: #00643e;
$green-800: #005034;
$green-900: #003c2a;

$blue-50: #d6eeff;
$blue-100: #b9e2ff;
$blue-200: #87ceff;
$blue-300: #4cabff;
$blue-400: #1190ff;
$blue-500: #1151ff;
$blue-600: #0034e3;
$blue-700: #061dbb;
$blue-800: #02068e;
$blue-900: #020664;

$teal-50: #d4fffb;
$teal-100: #9cfff7;
$teal-200: #69eee7;
$teal-300: #31cbcb;
$teal-400: #1cb2b6;
$teal-500: #008e98;
$teal-600: #0a7281;
$teal-700: #005c68;
$teal-800: #004856;
$teal-900: #043441;

$purple-50: #e4e1fc;
$purple-100: #d6d1ff;
$purple-200: #beaffd;
$purple-300: #a082ff;
$purple-400: #8755ff;
$purple-500: #6e0ff6;
$purple-600: #5400cc;
$purple-700: #4400a9;
$purple-800: #300080;
$purple-900: #1c0060;

$pink-50: #ffe1f3;
$pink-100: #ffcdea;
$pink-200: #ffb0dd;
$pink-300: #fe90cc;
$pink-400: #fc5dbb;
$pink-500: #ed1aa0;
$pink-600: #d00b84;
$pink-700: #a50767;
$pink-800: #770349;
$pink-900: #4c012d;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #e5e5e5;
$grey-300: #cacacb;
$grey-400: #9e9ea0;
$grey-500: #707072;
$grey-600: #4b4b4d;
$grey-700: #39393b;
$grey-800: #28282a;
$grey-900: #1f1f21;
