// https://www.color-hex.com/color-palette/1793
// https://www.color-hex.com/color-palette/4573
// https://www.color-hex.com/color-palette/1071241
// Skin tone colors ordered by lightness, darkest to lightest.
$skin-color-01: #3c2e28; // rgb(60, 46, 40)
$skin-color-02: #3c2e28; // rgb(60, 46, 40)
$skin-color-03: #4b3331; // rgb(75, 51, 49)
$skin-color-04: #4b3932; // rgb(75, 57, 50)
$skin-color-05: #593b2b; // rgb(89, 59, 43)
$skin-color-06: #5a453c; // rgb(90, 69, 60)
$skin-color-07: #695046; // rgb(105, 80, 70)
$skin-color-08: #8d5524; // rgb(141, 85, 36)
$skin-color-09: #714c43; // rgb(113, 76, 67)
$skin-color-10: #785c50; // rgb(120, 92, 80)
$skin-color-11: #9f593f; // rgb(159, 89, 63)
$skin-color-12: #87675a; // rgb(135, 103, 90)
$skin-color-13: #87675a; // rgb(135, 103, 90)
$skin-color-14: #967264; // rgb(150, 114, 100)
$skin-color-15: #c68642; // rgb(198, 134, 66)
$skin-color-16: #a57e6e; // rgb(165, 126, 110)
$skin-color-17: #c5845c; // rgb(197, 132, 92)
$skin-color-18: #b48a78; // rgb(180, 138, 120)
$skin-color-19: #b48a78; // rgb(180, 138, 120)
$skin-color-20: #d0845d; // rgb(208, 132, 93)
$skin-color-21: #c39582; // rgb(195, 149, 130)
$skin-color-22: #e0ac69; // rgb(224, 172, 105)
$skin-color-23: #d2a18c; // rgb(210, 161, 140)
$skin-color-24: #f1c27d; // rgb(241, 194, 125)
$skin-color-25: #e9b78a; // rgb(233, 183, 138)
$skin-color-26: #e1ac96; // rgb(225, 172, 150)
$skin-color-27: #e1ac96; // rgb(225, 172, 150)
$skin-color-28: #ddb0a0; // rgb(221, 176, 160)
$skin-color-29: #f0b8a0; // rgb(240, 184, 160)
$skin-color-30: #ffc3aa; // rgb(255, 195, 170)
$skin-color-31: #ffdbac; // rgb(255, 219, 172)
$skin-color-32: #ffceb4; // rgb(255, 206, 180)
$skin-color-33: #ffceb4; // rgb(255, 206, 180)
$skin-color-34: #ffdabe; // rgb(255, 218, 190)
$skin-color-35: #ffe5c8; // rgb(255, 229, 200)
