node_modules
.nuxt
.output
.data
.idea
.github
.config

*.d.ts
*.log
*.lock
*.tsbuildinfo
*.eslintignore
*.prettierignore
*.stylelintignore
*.yarn*
*.npm*
*.env
*.env.*
*.local
*.bak
*.tmp
*.gz
*.tgz
*.7z
*.so
*.dylib
vitest.config.*.timestamp*
